<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Todas</string>
		<key>image</key>
		<string>all.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bistrô</string>
		<key>image</key>
		<string>bistro.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bar / Lounge</string>
		<key>image</key>
		<string>bar.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cervejaria</string>
		<key>image</key>
		<string>brewery.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hamburgueria</string>
		<key>image</key>
		<string>burgers.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Californian</string>
		<key>image</key>
		<string>californian.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Caribenha</string>
		<key>image</key>
		<string>caribbean.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Comfort Food</string>
		<key>image</key>
		<string>comfort.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cubano</string>
		<key>image</key>
		<string>cuban.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Continental</string>
		<key>image</key>
		<string>continental.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Francesa</string>
		<key>image</key>
		<string>french.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>International</string>
		<key>image</key>
		<string>international.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Italiana</string>
		<key>image</key>
		<string>italian.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Japonesa</string>
		<key>image</key>
		<string>japanese.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Latino Americana</string>
		<key>image</key>
		<string>latin.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mediterrânea</string>
		<key>image</key>
		<string>mediterranean.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mexicana</string>
		<key>image</key>
		<string>mexican.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Orgânica</string>
		<key>image</key>
		<string>organic.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pan-Asian</string>
		<key>image</key>
		<string>panasian.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Peruana</string>
		<key>image</key>
		<string>peruvian.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pizzaria</string>
		<key>image</key>
		<string>pizza.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Prime Rib</string>
		<key>image</key>
		<string>primerib.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Frutos do Mar</string>
		<key>image</key>
		<string>seafood.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sul Americana</string>
		<key>image</key>
		<string>southamerican.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sul</string>
		<key>image</key>
		<string>southern.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Espanhola</string>
		<key>image</key>
		<string>spanish.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Steakhouse</string>
		<key>image</key>
		<string>steak.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sushi</string>
		<key>image</key>
		<string>sushi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tapas / Small Plates</string>
		<key>image</key>
		<string>tapas.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vietnamesa</string>
		<key>image</key>
		<string>vietnamese.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bar de Vinho</string>
		<key>image</key>
		<string>wine.png</string>
	</dict>
</array>
</plist>